body{
    font-family: Arial;
}
.green{
    color: green;
}
.under{
    text-decoration: underline crimson wavy;
}
#mainImg{
    width: 15rem;
    height: 20rem;
}
.box{
    border: 0.25px solid #000;
    background-color: lightgray;
    width: 200px;
    padding: 1rem;
}
.yellowBg{
    background-color: yellow;
}
.boxLink{
    text-decoration: none;
}
.oldImg{
    height: 200px;
    width: 200px;
    margin-right: 1rem;
}
#description{
    background-color: antiquewhite;
}