.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#sturct{
    width: 300px;
    height: 10px;
    background-color: beige;
    border-radius: 100px;
}
#progress{
    transition: all cubic-bezier(0.19, 1, 0.22, 1).2s;
    width: 0%;
    height: 100%;
    border-radius: 100px;
    background-color: rgb(65, 180, 65);
}
h3{
    opacity: 0;
    color: rgb(65, 180, 65);
}